<body>
  <div class="overlay">
      <div class="container">
        <form (submit)="Login()">
          <h1>تسجيل الدخول</h1>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Enter Password">
            </div>
            <button class="btn btn-block">Login</button>
        </form>
      </div>
    </div>
</body>