body{
    text-align: right;
    background: #503f4b70;
    height: 850px;
}

.card{
     flex-direction:row ;
}
img{
    border-radius: 100%;
    margin: 15px 220px;
    width: 300px;
    height: 300px;
}
li{
    font-size: 18px;
}


